#drop-area {
  border: 2px dashed #2f2f2f;
  padding: 2.5rem;
  text-align: center;
  border-radius: 14px;
  background: #181818;
  margin-bottom: 2rem;
  transition: border 0.3s ease, background 0.3s ease;
  font-size: 1rem;
  color: #aaa;
}

#drop-area:hover {
  border-color: #f5a731;
  background: #202020;
  cursor: pointer;
}