@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


body {
  margin: 0;
  background: #0f0f0f;
  color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

main {
  width: 100%;
  max-width: 860px;
}

#title-section {
  text-align: center; 
  margin-bottom: 2rem;
}

#title-section h1 {
  margin-bottom: 0.5rem;
}

#title-section p {
  color: #aaa;
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #fff;
  letter-spacing: 0.5px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

#add-entry-button,
#encrypt-button {
  background-color: #424242;
  color: white;
  padding: 12px 22px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}


#add-entry-button:hover,
#encrypt-button:hover {
  background-color: #e7a81f;
  transform: translateY(-1px);
}


hr {
  border: none;
  height: 2px;
  opacity: .5;
  background: linear-gradient(90deg, #e7a81f, #e7a81f); /* You can add multiple colors for a true gradient */
}